---
- hosts: ansible-ubuntu-desktop
  become: yes
  vars:
    ansible_python_interpreter: 'python3'

    my_github_account: 'Kaniabi'
    my_name: 'Kaniabi'
    my_username: 'kaniabi'
    my_password: 'chucknorris'
    my_hostname: 'mikasa'

  tasks:
    - name: hostname
      include_role:
        name: kaniabi.hostname

    - name: user
      include_role:
        name: mivok0.users
      vars:
        users:
          - name: "{{ my_name }}"
            username: "{{ my_username }}"
            password: "{{ my_password }}"
            update_password: 'always'
            groups: ['sudo']
            uid: 1001
            shell: '/usr/bin/zsh'
            home: '/home/{{ my_username }}'
            ssh_key:
              - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCgHIedVICwvVMHMXx8NK98aztFwXSFlySLQSsY4VjqW8uEX/hZl9LvvysAzYJHJ4bOYsSOIJEjNrnSXdzdbCkY/lRfeGhK3cYqQGsCxqkOqxmFRH8OpRL0f3lzPFMG1akqLF4NkciywoQHdxAVD2BvhtoPcOo4r0mZLoynFhHdGZhoe/GotLKr5IQBB4yKOPNTUuTsdN14gF9xDNSNv9RbJPYekZWHotZV6OTy2u2BhdYnC8Se9Ngq2PVKRjtbIqMK2sVRPpIcaYoTmTcOS3B79Xt8m53/MzplbuaFl0E+fAtYz50u+aOrMTYlQ9cYTo8zzRiHHRTPg7mvL+anwJYB kaniabi@anakin"

    - name: shell
      include_role:
        name: kaniabi.shell

    - name: docker
      include_role:
        name: kaniabi.docker

    - name: locale
      include_role:
        name: tersmitten.locales
      vars:
        locales_language_packs_present:
          - language-pack-en
          - language-pack-pt

    - name: python-ide
      include_role:
        name: softasap.sa-dev-pycharm
      vars:
        java_version: 8
        pycharm_version: 2017.1.2
        pycharm_edition: professional
        apps_dir: "/home/{{my_username}}/apps"
      tags:
        - python-ide

    - name: editor
      apt:
        name: vim
      tags:
        - editor

    - name: fonts
      apt:
        name: "{{ item }}"
        state: installed
      with_items:
        - fonts-roboto
      tags:
        - fonts

  roles:
    - {name: andrewrothstein.hub, tags: hub}
    - {name: cmprescott.chrome, tags: browser}
    - {name: kaniabi.spotify, tags: music-player}

# TODO: Install "Roboto Mono for Powerline" font.

